@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    color-scheme: light dark;
    @apply dark:text-white dark:bg-slate-900 bg-white
  }
}

@layer components {
  .container-md {
    @apply w-full mx-auto md:max-w-md lg:max-w-lg xl:max-w-xl xxl:max-w-xxl;
  }

  .divider{
    @apply h-[0.25rem] bg-gradient-to-r dark:from-white from-black to-transparent rounded-lg
  }
}