.header{
    @apply text-xl border-2 border-sky-500 m-2;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
}

.banner{
    @apply grid md:grid-cols-6;
}

.sectionList{
    @apply grid grid-cols-4 col-span-3;
}

.tagList{
    @apply grid grid-cols-5 col-span-2;
}

.nav{
    @apply text-xl mt-7
}

.item{
    @apply mt-2
}

.itemTitle{
    @apply text-lg
}
